body {
  background-color: #222222;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
  font-family: Arial, Helvetica, sans-serif;
}

.content h1 {
  color: #eeeeee;
}

.content h3 {
  color: #aaaaaa;
}
